.title-slide {
  background-color: white;
  background-image: url(imgs/user-logo-color.png);
  background-size: 150px;
  background-position: 50% 10%;
}

.title-slide h2 {
  color: black;
  text-shadow: none;
}

.title-slide h1 {
  color: black;
  text-shadow: none;
  font-size: 30pt;
}

.title-slide h3 {
  color: black;
  text-shadow: none;
  font-size: 15pt;
}

.small { font-size: 70% }

div.my-footer {
    background-color: white;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20px;
    width: 100%;
}
div.my-footer span {
    font-size: 10pt;
    color: black;
    position: absolute;
    left: 15px;
    bottom: 10px;
}

div.left {
    margin: 10px 0 15px 20px;
    text-align: center;
    float: left;
    z-index:-10;
    width:48%;
    font-size: 0.85em;
    line-height: 1.5;
}

div.right {
    margin: 10px 0 15px 0;
    float: right;
    text-align: center;
    z-index:-10;
    width:48%;
    font-size: 0.85em;
    line-height: 1.5;
}