.title-slide {
  background-color: white;
  background-image: url(imgs/user-logo-color.png);
  background-size: 150px;
  background-position: 50% 10%;
}

.title-slide h2 {
  color: black;
  text-shadow: none;
}

.title-slide h1 {
  color: black;
  text-shadow: none;
  font-size: 30pt;
}

.title-slide h3 {
  color: black;
  text-shadow: none;
  font-size: 15pt;
}

.small { font-size: 70% }

div.my-footer {
    background-color: white;
    position: absolute;
    bottom: 10px;
    left: 15px;
    width: 100%;
}

div.my-footer a {
    font-size: 11pt;
    color: blue;
}
